
<nav class="border-b border-b-white text-white py-6 px-2">
    <main class="max-w-screen-lg mx-auto flex flex-row gap-3 items-center group">
        <a href="/" class="text-2xl text-blue-400 hover:text-blue-300 font-semibold grow">
            <span class="text-3xl font-bold border border-blue-400 group-hover:border-blue-300 rounded-xl p-2">Mc</span> McCorsa
        </a>
        <a href="/">Projects</a>
        <a href="/">Resume</a>
    </main>
</nav>