---
import ArticleLayout from '../../layouts/ArticleLayout.astro'
import ArticleSection from '../../components/ArticleSection.astro';
---

<ArticleLayout title="My Portfolio">
    <ArticleSection heading="Design Vision">
        <p>
            My vision for this website was to have a location where all of the projects
            that I have worked on are listed in one place for the world to see. It should
            also be somewhere where I can showcase some of my web design capabilities
            by providing a website that reflects these.
        </p>
    </ArticleSection>
    <ArticleSection heading="Future Plans">
        <p>Below are some of the things I plan to do to improve the quality of this site.</p>
        <ul class="list-disc list-inside ml-4 my-2">
            <li>Improve the overall flow</li>
            <li>Add some more visual elements</li>
            <li>Future-proof the website with some kind of API</li>
            <li>Build some more projects to showcase</li>
        </ul>
    </ArticleSection>
    <ArticleSection heading="Open to Feedback">
        <p>
            I am open to any feedback that you may have about how the website, positive
            or negative. My aim with this website is not to flex, but to grow in my skills
            as a website designer and developer.
        </p>
        <p>
            If you have any thoughts, please reach out to me via the Contact page. I will
            be happy to have a chat!
        </p>
    </ArticleSection>
    <ArticleSection heading="How It Looks So Far">
        <p class="text-yellow-400 font-bold">TODO: Add some pictures of the site, maybe.</p>
    </ArticleSection>
</ArticleLayout>