---
import ArticleLayout from '../../layouts/ArticleLayout.astro'
import ArticleSection from '../../components/ArticleSection.astro';
---

<ArticleLayout title="Digital Self-Care Collaborative Research Project" img="/toothbrushes.png">
    <ArticleSection heading="Background">
        <p>
            This project is the culmination of one of my semester's work in one of my units:
            CAB210 User Experience Fundamentals. This unit involved research work looking
            into how people used digital technology for self-care and how their self-care
            was affected by their technology use.
        </p>
        <p>
            This research project was an opportunity to continue to develop the skills learned
            over the unit.
        </p>
    </ArticleSection>
</ArticleLayout>