---
import BaseLayout from "./BaseLayout.astro";
const {title, img} = Astro.props;
---

<BaseLayout>
    <article class="max-w-screen-md mx-auto p-3 text-white my-8 page-content flex flex-col gap-8">
        <header class="flex flex-row items-center">
            <img src={img} class="h-16 mr-2">
            <h1 class="text-4xl font-bold text-blue-400">{title}</h1>
        </header>
        <slot/>
    </article>
</BaseLayout>
