---
import BaseLayout from "./BaseLayout.astro";
const {title, img} = Astro.props;
---

<BaseLayout>
    <article class="max-w-screen-lg mx-auto p-3 text-white my-8 page-content flex flex-col gap-3">
        <header class="flex flex-row items-center">
            <img src={img} class="h-24 mr-6">
            <h1 class="text-4xl md:text-6xl font-bold text-blue-500">{title}</h1>
        </header>
        <slot/>
    </article>
</BaseLayout>
